CERT_RESOLVER=
PENPOT_FRONT_FLAGS=enable-registration enable-login-with-password
PENPOT_BACK_FLAGS=enable-smtp enable-prepl-server
PENPOT_REGISTRATION_DOMAIN_WHITELIST=
PENPOT_SECRET=YourSecret
PENPOT_SMTP_DEFAULT_FROM=
PENPOT_SMTP_DEFAULT_REPLY_TO=
PENPOT_SMTP_HOST=
PENPOT_SMTP_PORT=
PENPOT_SMTP_USERNAME=
PENPOT_SMTP_PASSWORD=
PENPOT_SMTP_TLS=
PENPOT_SMTP_SSL=
