PLANKA_KEY=key
PLANKA_OIDC_ISSUER=https://auth.example.com/application/o/planka/
PLANKA_OIDC_CLIENT=client
PLANKA_OIDC_SECRET=secret
PLANKA_OIDC_ADMIN_ROLES=Administrators
SMTP_PORT=25
PLANKA_SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=Planka <planka@example.com>
