JWT_SECRET=
REGISTRATION_DISABLED=
X_KEY=
X_SECRET=
LINKEDIN_ID=
LINKEDIN_SECRET=
REDDIT_ID=
REDDIT_SECRET=
GITHUB_ID=
GITHUB_SECRET=
BEEHIIVE_KEY=
BEEHIIVE_PUBLICATION_ID=
LISTMONK_DOMAIN=
LISTMONK_USER=
LISTMONK_KEY=
LISTMONK_ID=
THREADS_ID=
THREADS_SECRET=
FACEBOOK_ID=
FACEBOOK_SECRET=
YOUTUBE_ID=
YOUTUBE_SECRET=
TIKTOK_ID=
TIKTOK_SECRET=
PINTEREST_ID=
PINTEREST_SECRET=
DRIBBBLE_ID=
DRIBBBLE_SECRET=
DISCORD_ID=
DISCORD_SECRET=
DISCORD_BOT_TOKEN=
SLACK_ID=
SLACK_SECRET=
SLACK_SIGNING_SECRET=
MASTODON_INSTANCE=
MASTODON_ID=
MASTODON_SECRET=
OIDC_NAME=
OIDC_IMAGE=
OIDC_GENERIC=
OIDC_URL=
OIDC_AUTH=
OIDC_TOKEN=
OIDC_USERINFO=
OIDC_ID=
OIDC_SECRET=
OPENAI_KEY=
DISCORD_SUPPORT=
POLOTNO_KEY=
API_LIMIT=
