NEXTCLOUD_DATA=/data
NEXTCLOUD_UPLOAD_LIMIT=5G
NEXTCLOUD_BODY_LIMIT=0
NEXTCLOUD_MEMORY_LIMIT=6G
NEXTCLOUD_DB_PASS=password
NEXTCLOUD_ADM_USER=admin
NEXTCLOUD_ADM_PASS=password
NEXTCLOUD_KV_PASS=password
