HBOX_LOG_LEVEL=info
HBOX_LOG_FORMAT=text
HBOX_WEB_MAX_UPLOAD_SIZE=10
HBOX_OPTIONS_ALLOW_REGISTRATION=false
HBOX_MAILER_HOST=
HBOX_MAILER_PORT=
HBOX_MAILER_USERNAME=
HBOX_MAILER_PASSWORD=
HBOX_MAILER_FROM=
SHORT_DOMAIN=
