RESUME_FQDN=
RR_POSTGRES_USER=
RR_POSTGRES_PASSWORD=
RR_POSTGRES_DB=reactive_resume
RR_MINIO_USER=
RR_MINIO_PASSWORD=
RR_CHROME_TOKEN=
RR_REDIS_PASSWORD=
RR_ACCESS_TOKEN_SECRET=
RR_REFRESH_TOKEN_SECRET=
RR_SMTP_ADDR=
RR_SMTP_USER=
RR_SMTP_PASS=
RR_SMTP_PORT=
RR_STORAGE_URL=
RR_STORAGE_ENDPOINT=
RR_STORAGE_REGION=
RR_STORAGE_BUCKET=
RR_STORAGE_ACCESS_KEY=
RR_STORAGE_SECRET_KEY=
RR_GITHUB_CLIENT_ID=
RR_GITHUB_CLIENT_SECRET=
RR_GOOGLE_CLIENT_ID=
RR_GOOGLE_CLIENT_SECRET=
